@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    background-color: #AED6F1;
    font-family: 'Montserrat'
}

.reasons-container {
    margin-top: 10%;
}

.preview-button {
    background-color: #AED6F1;
    margin-left: 90%;
    border-color: #ffffff;
}

.preview-button:hover {
    background-color: #AED6F1;
    border-color: #ffffff;
}

.preview-button:focus {
    background-color: #AED6F1;
}

.next-button {
    margin-left: 85%;
    background-color: #AED6F1;
    border-color: #ffffff;
}

.next-button:hover{
    background-color: #AED6F1;
    border-color: #ffffff;
}

.next-button:active {
    background-color: #AED6F1;
}

.back-button {
    background-color: #ffffff;
    color: #AED6F1;
    border-color: #AED6F1;
}

.back-button:hover {
    background-color: #AED6F1;
    border-color: #ffff;
}

.back-button:active {

}

.jumbotron {
    background-color: #fff;
}

.display-4 {
    text-align: center;
}

.subtitle {
    text-align: center;
}

#bear {
    width: 20px;
}

#rat {
    width: 30px;
}

a {
    color: #AED6F1;
}

.modal-alert-button {
    background-color: #ffffff;
    color: #AED6F1;
    border-color: #AED6F1;
}

.modal-alert-button:hover {
    background-color: #AED6F1;
    border-color: #ffff;
}

.modal-close-button {
    background-color: #AED6F1;
    border-color: #ffffff;
}

.modal-close-button:hover{
    background-color: #AED6F1;
    border-color: #ffffff;
}

.modal-button{
    background-color: #fff;
    border:none;
    color: #AED6F1;
}